[MAIN]

ignore = texttable.py

ignored-modules = adsk

disable = fixme,
          line-too-long,
          missing-class-docstring,
          missing-function-docstring,
          too-few-public-methods,
          missing-module-docstring
