[MAIN]

ignore = texttable.py 

ignored-modules = adsk

disable = missing-module-docstring,
          missing-function-docstring,
          missing-class-docstring,
          line-too-long,
          fixme
